body {
	font-size: 30px;
	color: white;
	font-family: "Papyrus";
	background-image: url("../../../bg_stars.gif");
}
.info {
	margin: 0 auto;
	width: 800px;
	margin-top: 15%;
}
.name{
	text-align: center;
	border-bottom: 2px double white;
}
.fa {
	cursor: pointer;
  margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.jukebox {
	width: 600px;
	margin: 15% auto;
}
.controls {
	text-align: center;
}

#dance {
	position: absolute;
	bottom: 10%;
	left: 5%;
	width: 400px;
}

#danny {
	z-index: -1;
	position: absolute;
	left: -500px;
	width: 300px;
	top: 10%;
	animation-name: dannySlide;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes dannySlide {
	0% {
		left: -500px;
	}
	100% {
		left: 1500px;
	}
}
